body {
    display: grid;
    background-color: lightslategray;
    color: whitesmoke;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 3fr 3fr;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0;
    border: 0;
    min-height: 100vh;
};


#banner {
    min-height: 300px;

}

aside {
    background-color: black;
   
}

main {
    background-color: brown;
    grid-column: span 2;
    max-height: 500px;
   
}